<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>

<body>

    <h1>this is a home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum aliquam nam hic cum dicta ullam neque vitae
        ratione magni suscipit. Sed voluptatibus natus nesciunt cupiditate ratione minima, adipisci ullam ipsam?</p>
        <button>Click me</button>
</body>

</html>